.git/
.vscode/
build/
install/
*.pyc
__pycache__/
*.pyd
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.user
*.suo
*.sdf
*.opensdf
*.log
*.tlog
*.obj
*.pdb
*.ilk
*.idb
*.pch
*.ipch
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
.vs/
Debug/
Release/
x64/
venv/
.env
*.egg-info/
dist/
logs/
debug/
*.raw
*.gdl
*.tif
*.tiff
*.png
*.jpg
*.jpeg
